body {
    background-color: white;
    color: black;
}

label, input {
    display: inline-block;
    width: 120px;
    margin: 5px;
}

.css {
    margin: 0 auto;
    text-align: center;
    padding: 200px;
}